__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
bin
lib
include
share
.pytest_cache
.coverage
htmlcov
.git
.gitignore
.env
.env.example
.loki
README.md
docker-compose.yml
Dockerfile
static/uploads/*
!static/uploads/.gitkeep
