services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=${DATABASE_URL:-postgresql://postgres:postgres@host.docker.internal:5432/ordering_db}
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  default:
    name: ordering_network
    driver: bridge
